html
	head
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="customMind.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
			
	body(id="scorePage")

		include nav
		br
		br
	div(class="row" id="scorePageTitle")
		h1 Hello #{first_name}
		p Your average score over the last #{inputs.length} input(s)

	br
	br

	div(class="row")
		div(class="col-sm-5 col-sm-offset-1")
			div(id="graphContainer")
				canvas(id="mixedChart" height="400" width="400")

		div(class="col-sm-3 col-sm-offset-1" id="scoreBorder")
			h3 Breakdown
			p Mood summary : #{textMood}
			p Diet summary : #{textDiet}
			p Sleep summary : #{textSleep}
	br
	br
	br
	div(class="row")
		div(class="col-sm-5 col-sm-offset-1")
			div(id="graphContainer")
				canvas(id="exetable" height="400" width="400")

		div(class="col-sm-3 col-sm-offset-1" id="scoreBorder")
			h3 Exercise Help
			p Exercise summary : #{textExercise}


	script(src="https:cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js")
	script(src="js/charts.js")
	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

	//- script.

	script.

		var CHART = document.getElementById('mixedChart').getContext("2d");
		console.log(CHART)
			var mixedChart = new Chart(CHART, {
		
				type: 'bar',
				  data: {
					datasets: [{
						  label: 'Your average score',
						  data: [#{score.mood}, #{score.sleep}, #{score.diet}],
						  backgroundColor: ['rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(75, 192, 192, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(255, 159, 64, 0.2)'],
						}, {
						  label: 'Platform average score',
						  fill: false,
						  borderWidth: 5 ,
						  borderColor: 'rgb(63, 191, 63)',
						  backgroundColor: 'rgb(63, 191, 63)',
						  data: [#{average.mood}, #{average.sleep}, #{average.diet}],

						  // Changes this dataset to become a line
						  type: 'line'
						}],
					labels: ['Mood', 'Sleep', 'Diet'],
				
				  		},
				  		options: {
								scales: {
									yAxes: [{
										ticks: {
											beginAtZero: true,
											max: 10,
											stepValue: 1
										}
									}]
								}
								},
							});

		 ctx = document.getElementById('exetable').getContext("2d");
		 	var exetable = new Chart(ctx, {
				type: 'pie',
				  data: {
					datasets: [{
						  label: 'Exercise breakdown',
						  data: [#{exercise.yes},#{exercise.no}],
						  backgroundColor: ['rgba(54, 162, 235, 0.2)','rgba(258, 55, 103, 0.2)'],

						}],
					labels: ['Yes', 'No'],
						}
							});




